@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body {
	margin: 0;
	background: #FFF;
	font-family: sans-serif, 'Open Sans';
	font-size: 12px;
	height: 100%
}
a:link, a:visited, a:active {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #0087f7;
}
a img {
	border: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: sans-serif, 'Open Sans';
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
	line-height: 23px;
}
h4 {
	font-size: 14px;
	font-weight: bold;
}
p {
	line-height: 23px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.navbar-default {
	font-family: sans-serif, 'Open Sans';
	font-size: 14px;
}
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -100px;
	padding: 0 0 100px;
	position: relative;
}
.logo {
	max-width: 100px;
	margin-top: -20px;
	height: 50px;
	object-fit: contain;
}
.bottom-header {
	overflow: hidden;
	padding-top: 50px;
	/* border-bottom: 1px solid #dddddd;*/
}
.header-bottom-left {
	overflow: hidden;
	width: 60%;
	float: left;
}
#social-love {
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#fb-button-div {
	float: left;
	height: 20px;
	width: 88px;
	overflow: hidden;
	margin: 15px 10px 0 20px;
	padding: 0;
}
#twitter-button-div {
	float: left;
	padding: 0;
	height: 20px;
	width: 64px;
	overflow: hidden;
	margin: 15px 10px 0 0px;
}
#google-button-div {
	float: left;
	padding: 0;
	height: 20px;
	width: 88px;
	overflow: hidden;
	margin: 15px 10px 0 0px;
}
#slogan {
	float: left;
	line-height: 47px;
}
#channel {
	float: left;
	line-height: 47px;
	color: #FFF;
	font-weight: bold;
	font-size: 19px;
}
#slogan h1 {
	line-height: 50px;
}
.color-bar {
	background: none;
	color: #000;
}

#search-box {
	float: right;
	overflow: hidden;
	margin: 0;
	padding: 5px 10px;
}
#search-box> form.navbar-form {
	margin-right: 0;
	padding-right: 0;
}
#searchbtn {
	display: none;
}
.input-group-btn .glyphicon-search {
	height: 20px;
}

.col-md-8 {
	width: 600px;
	padding-left: 0;
}
.col-md-4 {
	padding-top: 60px;
	float: right;
}
.post-box {
	width: 600px;
	overflow: hidden;
	padding-top: 10px;
	border-bottom: 1px solid #dddddd;
}
.post-media {
	padding: 0px 10px 45px 10px;
}

.post-box-2{
	width: 600px;
	overflow: hidden;
	padding: 10px 0;
}

.post-uname { 
	width:100%; 
	text-align:left; 
	padding:10px 0;
}

.post-header {
	overflow: hidden;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
.post-title {
	padding-bottom: 4px;
}
.post-title-2 {
	padding-bottom: 4px;
	margin-bottom: 15px;
}
.more-text { display: none; }

.post-footer {
	padding: 5px 0 10px 0;
	color: #999;
}
.post-left {
	width: 600px;
	overflow: hidden;
	float: left;
}
.post-page-left {
	width: 600px;
	overflow: hidden;
	float: left;
}
.post {
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 600px;
	text-align: center;
}
.post-box p {
	margin: 15px 0;
}
.vote-post {
	width: 600px;
	overflow: hidden;
}
.vote-box {
	width: 48%;
	float: left;
	margin: 10px 0 10px 10px;
}
.social-box {
	width: 35%;
	float: left;
	margin: 10px auto 10px 0px;
}
.other-btn {
	position: absolute;
	display: inline;
	right: 10px;
}
.other-btn-post {
	position: absolute;
	display: inline;	
}
.fas.fa-ellipsis-h {
	margin-top: 10px;
}
.next-button {
	float: right;
	margin-top: 10px;
	color: #4885ed;
}

.fa-thumbs-down {
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
}
.far.fa-thumbs-up, .far.fa-thumbs-down, .far.fa-comment-alt, .fas.fa-ellipsis-h, .fas.fa-chevron-up {
	color: #757575;
	font-size: 1.5em;
}
.fas.fa-thumbs-up, .fas.fa-thumbs-down {
	color: #4885ed;
	font-size: 1.5em;	
}
.far.fa-thumbs-up:hover, .far.fa-thumbs-down:hover, .far.fa-comment-alt:hover, .fas.fa-ellipsis-h:hover {
	color: #4885ed;
}
/* Show points font*/
.display-vote {
	color: #757575; 
	font-size: 14px;
}
/*
.comment-vote{padding:0 7px;}
*/

.modal.fade.in {
	background: rgba(0, 0, 0, 0.8);
}
.modal-dialog {
	top: 3%;
}
.modal-footer {
	height: 70px;
	margin: 0;
}
.modal-footer .btn {
	font-weight: bold;
}
.modal-footer .progress {
	display: none;
	height: 32px;
	margin: 0;
}
.modal {
	overflow-y:auto;
  }
#output-login, #output-image, #output-video, #output-register {
	overflow: hidden;
	margin: 15px 0;
}

#featured-box {
	float: right;
	overflow: hidden;
}
.right-bar-title {
	padding: 5px 0;
}
.featured-title h2 {
	font-size: 13px;
	font-weight: bold;
	padding-top:7px;
}
.featured-post {
	overflow: hidden;
	margin-bottom: 10px;
	padding: 0;
}
.featured-img {
	width: 600px;
	height: 180px;
	object-fit: cover;
}
.featured-imgBar {
	width: 300px;
	height: 150px;
	object-fit: cover;
	margin: 0;
}

.frame-post-body {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
}
.video-frame-post {
	position: absolute;
	width: 220px;
	height: 120px;
	z-index: 999;
}
.video-frame-sidebar {
	position: absolute;
	width: 300px;
	height: 150px;
	z-index: 999;
}
.video-frame-footer {
	position: absolute;
	width: 80px;
	height: 45px;
	z-index: 999;
}

.ads-one {
	float: right;
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin: 15px 0;
	background:#F8F8F8;
}
#ads-two {
	float: right;
	width: 300px;
	height: auto;
	overflow: hidden;
	margin-top: 15px;
	background:#F8F8F8;
}
.ads-two {
	position: fixed;
	margin-left: 15px;
	top: 46px;
	overflow:hidden;
	background:#F8F8F8;
	z-index: 9999;
}
.ads-three {
	float: left;
	width: 600px;
	max-height: 120px;
	overflow: hidden;
	background:#F8F8F8;
}
.ads-five {
	float: left;
	width: 600px;
	height: auto;
	overflow: hidden;
	background:#F8F8F8;
}
.ads-pop{overflow:hidden; max-width:300px; max-height: 300px; margin-top:20px; float:left;}

.btn-upload {
	background: #3b5998;
	color: #FFF;
}
li.btn-upload>a:link, li.btn-upload>a:visited {
	color: #FFF;
	font-weight: bold;
}
.main-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	padding-top: 10px;
	background-color: #f4f4f4;
	color: #7b7a7a;
}
.pull-middle {
	text-align: center;
	font-size: 15px;
	margin-bottom: 7px;
}
.copyright-note {
	font-weight: bold;
}
.main-footer a:link, .main-footer a:visited {
	color: #898989;
}
.main-footer a:hover {
	color: #acaaaa;
}
.thumb {
	cursor: pointer;
}
.fas.fa-spinner {
	font-size: 1.8em;
	color: #757575;
	-webkit-animation: spin 1.5s linear infinite; /* Safari */
	animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.gif-img, .play-button {
	position: absolute;
	padding: 10px;
	color: #FFF;
	background: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 10px;
	border: 2px solid #FFF;
	z-index: 999;
}
.gif-img-off {
	display: none;
}
.search-title {
	padding: 15px 0 10px 0;
	margin-bottom: 15px;
	border-bottom: 1px solid #dddddd;
}
.search-title h1 {
	display: inline-block;
}
.search-title-small {
	font-size: 15px;
	color: #666;
}
.col-md-8 .well {
	background: #FFF;
	border: none;
	padding: 15px 0 0 0;
}
.col-md-8> div.well> div.media> div.media-body> p {
	color: #666;
}
#FromSnRegister {
	margin-top: 25px;
}
.post-content {
	text-align: center;
	width: 600px;
	background: #EBEBEB;
}

.post-content> img.img-responsive{margin:0 auto;}

.popup-image> img.img-responsive{margin:0 auto;}

.post-content-box {
	width: 600px;
	overflow: hidden;
	padding: 10px 0;
}
.post-content-box p {
	margin: 15px 0;
}
/* Tabs panel */
.comment-panel {
	width: 600px;
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
}
#load_data_table {
	overflow: hidden;
}
.media-box {
	overflow: hidden;
	margin: 15px 10px 0px 5px;
}
.media-body-box {
	margin-left: 230px;
}
.media-body-box h5 {
	color: #757575;
}

textarea {
	min-height: 35px;
	resize: none; /*remove the resize handle on the bottom right*/
}
.media, .media-body {
	overflow: hidden;
	zoom: 1;
}
.media, .media .media {
	margin: 15px;
}
.media:first-child {
	margin-top: 0;
}
.media-object {
	display: block;
	margin-right: 10px;
}
.media-heading {
	margin: 0 0 5px;
}
.media > .pull-left {
	margin-right: 10px;
}
.media > .pull-right {
	margin-left: 10px;
}
.media-list {
	padding-left: 0;
	list-style: none;
}
.media-body p {
	margin-top: 0;
	font-size: 13px;
}
.avatar-box {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	margin: 0 5px 10px 0;
}
.avatar-profile {
	vertical-align: middle;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
.avatar-post {
	vertical-align: middle;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}


#infscr-loading{text-align:center; display:block; margin:15px 0;}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}
.youtube-post {
	width: 100%;
}
.youtube-img {
	width: 600px;
	height: 335px;
	object-fit: cover;
}

.btn-arrow-right{right:0; float:right; margin-right:0; position:absolute;}

.btn-arrow-right:link, .btn-arrow-right:visited{ color:#FFF;}

.img-responsive {
	width: 100%;
}
.img-cp {
	width: 50px!important;
	height: 50px!important;
	object-fit: cover!important;
}

.alert-pull{margin-top:25px;}

/*Profile Page */
.show-profile {
	width: 600px;
	overflow: hidden;
}

.container-profile{
	border-bottom: 1px solid #dddddd;
	padding: 0px;
	margin-bottom: 10px;
	overflow:hidden;
}
	
ul#profile-nav {
	list-style: none;
	font-size: 16px;
	width: 100%;
	margin: 7px auto 0px auto;
	padding: 0px;
	overflow: auto;
  	white-space: nowrap;
}
ul#profile-nav li {
	display:inline-block;
	padding: 0;
	line-height: 36px; /*--Vertically aligns the text within the tab--*/
	background: #FFF;
}
ul#profile-nav li a{
	padding: 0px 20px;
	line-height: 36px; 
	color: #454545;
}
ul#profile-nav li:hover {
	/*border-bottom: 3px solid #000;*/
	color: #000;
}
ul#profile-nav li a:hover {
	color: #4885ed;
}
ul#profile-nav li.active {
	border-bottom: 3px solid #0087f7;
	color: #4885ed;
}
ul#profile-nav li.active a {
	color: #4885ed;
}


/* Settings Page */

.form-box {
	margin: 0px 10px 20px 10px; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #dddddd;
	padding: 15px 10px;
	overflow: hidden;
}

.form-box-title {
	padding-bottom:15px;
}

/* Avatar in setting */
#preview img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}


.col-media {
	border-bottom: 1px dashed #999;
	padding-bottom: 4px;
}

.img-sidebar {
	width: 80px;
	height: 45px;
	object-fit: cover;
}

.col-popup{float:left; width:250px; padding-left:15px; margin-top:20px;}

.content-box{overflow:hidden;}

.pop-title{font-weight:bold;}

.fb-login, .fb-login:link, .fb-login:visited {border-radius:5px; color:black; margin-bottom:20px; padding:10px; display:block; text-align:center; font-size:15px; box-shadow: 0 0 2px rgba(34, 25, 25, 0.4); }

.fb-login:hover{ background:#e8e8e8;}

.gg-login, .gg-login:link, .gg-login:visited {border-radius:5px; color:black; margin-bottom:20px; padding:10px; display:block; text-align:center; font-size:15px; box-shadow: 0 0 2px rgba(34, 25, 25, 0.4); }

.gg-login:hover{ background:#e8e8e8;}



.feeds-nav{padding:0; list-style:none; margin-top:25px;}

.feeds-nav li{padding:10px 0; font-size:17px; font-weight:bold;}

.feeds-nav>li>a>span.fa.fa-rss-square{ color:#ff8b00;}

/* New css put here $ */


/* Resend code button */
#resendButton {
	color: #4885ed;
}

/*Text add middle*/
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
/* /text middle */


/* Size of button "Go to top"*/
#myBtn {
	display: none; /* Mặc định button sẽ được ẩn*/
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity: 0.6;
	z-index: 999; /* button được ưu tiên hiển thị đè lên các phần khác*/
	
  }


/* Navbar auto hide effect */
#myNavbar {
	position: fixed;
	display: block;
	top: 0;
	transition: top 0.5s;
}

/* update menu bar */
.custom-navbar .navbar-nav > li > a {
	color: #454545;
}
#login-button {
	color: #454545;
}
#dropdownMenuLink {
	color: #454545;
}
#dropdownMenuLink:hover {
	color: #4885ed;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #4885ed;
}
.navbar-default .navbar-nav > .active > a:hover {
	color: #4885ed;
	background-color: #f8f8f8;
}

.navbar-default .navbar-nav > .active > a {
	color: #4885ed;
	background-color: #f8f8f8;
	border-bottom: 3px solid #4885ed;
	height: 50px;
}
.navbar-default .navbar-nav > .active {
	color: #4885ed;
	background-color: #f8f8f8;
	border-bottom: 3px solid #4885ed;
	height: 50px;
}
/* Categories list height */
.dropdown .dropdown-menu {
	max-height: 450px;
	height: auto;
}
.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

/* Category & user dropdown*/
.navbar-default .navbar-nav .dropdown-menu li a {
	color: #454545;
}
.navbar-default .navbar-nav .dropdown-menu li  {
	color: #454545;
}
.navbar-default .navbar-nav .dropdown-menu > .active > a {
	color: #4885ed;
	background-color: #FFFF;
}
.navbar-default .navbar-nav .dropdown-menu > li a:hover {
	color: #4885ed;
	background-color: #FFFF;
}
/* fix navbar-right*/
.custom-navbar .navbar-right {
	float: right;
	padding-right: 10px;
	padding-top: 5px;
}
/* Post button font size */
.post-button {
	font-size: 15px;
	float: left;
	margin-left: 10px;
	background: none;
	border: none;
	color: #454545;
}
.post-button:hover {
	color: #4885ed;
}

/* footer show uname color */
.uname-color {
	color: #4885ed;
}

/* Menu button icon */
.menubtn {
    background: none;
    position: absolute;
    margin-top: 25px;
    margin-left: 15px;
    border: none;
    transform: translate(-50%,-50%);
    width: 35px;
    height: 30px;
    cursor: pointer;
}
.hamburger {
    width: 20px;
    height: 2px;
    background: #777;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}
.hamburger:before, .hamburger:after {
    content: '';
    width: 20px;
    height: 2px;
    background: #777;
    position: absolute;
    transition: 0.3s;
}
.hamburger:before {
    top: -6px;
}
.hamburger:after {
    top: 6px;
}
.menubtn.active .hamburger {
    background: rgba(0,0,0,0);
}
.menubtn.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}
.menubtn.active .hamburger:after {
    top: 0;
    transform: rotate(-45deg);
}
/* End of menu button icon effect */

.menuicon {
	display: none;
}

@media (min-width:768px){
.container{width:750px}
}

@media (min-width:992px){
.container{width:970px}
}

@media (min-width:1200px){
.container{width:1070px}
}

/* Mobile responsive */
@media (max-width: 1200px) {

}

@media (max-width: 990px) {
	 
.header-bottom-left {
	display: none;
}
.img-responsive, .thumb, .container, .post-box, .post-left, .post-content, .col-md-8 {
	width: 100%;
}

.col-md-4 {
	display: none;
}
.post{
	width: 100%;
	height:auto;
}
.col-md-8{padding:0;}

}
@media (max-width: 767px) {

.container {
	padding-left: 0;
	padding-right: 0;
}
.post-content-box {
	width: 100%;
}
.post-page-left{
	width: 100%;
}	
#search-box {
	display: none;
}
#searchbtn {
	display: block;
}
.post-box {
	width: 100%;
	border-bottom: 8px solid #dddddd;
}
/* Setting box */
.post-box-2 {
	width: 100%;
}
.youtube-post {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; 
	height: 0;
}
.youtube-post iframe{
	position: absolute;
	top:0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}
.youtube-img {
	width: 100%;
	height: calc(100vw * 0.5625);
}
.vote-post {
	width: 100%;
}
.ads-five, .ads-three {
	width: 100%;
}
.comment-panel {
	width: 100%;
	border-bottom: 8px solid #dddddd;
}

/* Căn chỉnh Navbar Menu */
.navbar-brand {
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
}

.custom-navbar .navbar-right {
	padding-top: 0px;
}
/* font-size on mobile*/
.navbar-default .navbar-nav {
	padding-left: 10px;
	font-size: 16px;
}
.navbar-default .navbar-nav .dropdown-menu {
	font-size: 16px;
}

.custom-navbar .navbar-toggle {
	float: left
}
.custom-navbar .navbar-header {
	float: left;
	width: auto!important;
}
.custom-navbar .navbar-collapse {
	clear: both;
	float: none;
}
#login-button {
	display: none;
}

#login-id {
	display: none;
}
/* Navbar for mobile*/
.navbar-default .navbar-nav > .active > a {
	border-bottom: hidden!important;
	font-weight: bolder;
}
/* Show menu icons */
.menuicon {
	display: inline-block;
}
.show-profile {
	width: 100%;
}
/*
.navbar-collapse.collapsing {
    height: 0 !important;
}*/
.navbar-collapse.collapse.in {
    max-height: 500px;
	height: auto;
}
.far.fa-thumbs-up:hover, .far.fa-thumbs-down:hover, .far.fa-comment-alt:hover, .fas.fa-ellipsis-h:hover {
	color: #757575;
}

}

@media (max-width: 645px) {

#search-box{width:100%;}

#search.navbar-form{margin:0 auto;}

.ads-pop{width:100%; text-align:center;}

.col-popup{width:98%;}
	
}

@media (max-width: 552px) {

.fb-btn-long{display:none;}

.twitter-btn-long{display:none;}

.remove-mobile{display:none;}	
	
}

@media (max-width: 350px) {

#wrap {
	margin: 0 auto -120px;
	padding: 0 0 120px;
}

.main-footer {
	height: 120px;
}
	
}