@charset "utf-8";
/* CSS Document */

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height */
  padding: 0 0 80px;
  position: relative;
}

.header-link{margin:15px; color:#FFF; font-weight:bold;}

.header-link:hover{color: #CACACA;}

.header-link:link, .header-link:visited{color:#FFF;}

.logo{margin:5px 15px 0 15px; display: inline-block; width:288px; height:40px;}

.container-fluid{margin:0; padding:0;}

.main-header{width:100%; height:52px; display:block; background:#2D2D2D;}

.col-md-2{background:#22a1e4; margin:0; padding:0; overflow:hidden; position:absolute;
    top:52px;
    bottom:0;
    left:0;
    right:0;
	}

.col-md-7{overflow:hidden; margin-left:10px;}

.col-md-10{margin:0 0 25px 0; padding:0; overflow:hidden; float:right;}

.col-xs-6{padding-bottom:10px;}

.col-md-6{padding:0; }

.col-md-6 ul{margin:0; padding:0;}

.col-md-6 li{ list-style:none; padding:5px 0; margin:0; width:100%; display:block; font-size:18px; border-bottom:1px dashed #dddddd;}

.col-md-6 li span{padding-left:15px; font-family: 'Open Sans', sans-serif; font-size:15px;}

.box-space-right{padding-right:10px;}

.box-space-top{margin-top:30px;}

.gallery-grid
{
  margin-bottom: 20px;
}

.main-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding:10px 15px;
	background: #222222;
	color: #FFF;
}

/* Left Menu */

#left-menu,
#left-menu ul,
#left-menu ul li,
#left-menu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position:relative;
}
#left-menu {
  width: 100%;
  color: #ffffff;
}
#left-menu ul ul {
  display: none;
}
.align-right {
  float: right;
}
.col-centered {
	float: none;
	margin: 150px auto 0 auto;
}

#left-menu > ul > li > a {
  padding: 15px 20px;
  border-left: 1px solid #1682ba;
  border-right: 1px solid #1682ba;
  border-top: 1px solid #1682ba;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background: #2ca7e8;
  background: -webkit-linear-gradient(#36aae7, #1fa0e4);
  background: -moz-linear-gradient(#36aae7, #1fa0e4);
  background: -o-linear-gradient(#36aae7, #1fa0e4);
  background: -ms-linear-gradient(#36aae7, #1fa0e4);
  background: linear-gradient(#36aae7, #1fa0e4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
#left-menu > ul > li> a >span{padding-left:15px; font-family: 'Open Sans', sans-serif;}
#left-menu > ul > li > a:hover,
#left-menu > ul > li.active > a,
#left-menu > ul > li.open > a {
  color: #eeeeee;
  background: #1fa0e4;
  background: -webkit-linear-gradient(#1fa0e4, #1992d1);
  background: -moz-linear-gradient(#1fa0e4, #1992d1);
  background: -o-linear-gradient(#1fa0e4, #1992d1);
  background: -ms-linear-gradient(#1fa0e4, #1992d1);
  background: linear-gradient(#1fa0e4, #1992d1);
}
#left-menu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #1682ba;
}
#left-menu > ul > li:last-child > a,
#left-menu > ul > li.last > a {
  border-bottom: 1px solid #1682ba;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
#left-menu > ul > li > a:hover > span::after,
#left-menu > ul > li.active > a > span::after,
#left-menu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#left-menu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #eeeeee;
  background: #49505a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#left-menu ul ul li:hover > a,
#left-menu ul ul li.open > a,
#left-menu ul ul li.active > a {
  background: #424852;
  color: #ffffff;
}
#left-menu ul ul li:first-child > a {
  box-shadow: none;
}
#left-menu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#left-menu ul ul ul li a {
  padding-left: 30px;
}
#left-menu > ul > li > ul > li:last-child > a,
#left-menu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#left-menu > ul > li > ul > li.open:last-child > a,
#left-menu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#left-menu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#left-menu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#left-menu ul ul li.active > a::after,
#left-menu ul ul li.open > a::after,
#left-menu ul ul li > a:hover::after {
  border-color: #ffffff;
}

.submitButton{margin-top:30px;}

.panel ul{margin:0; padding:0;}

.quick-link{font-size:18px; margin:0 15px 15px 0; display:block; width:150px; padding:6px 10px 8px 10px; background:#E4E4E4; padding-left:10px; border-radius: 3px;}

#custom-search-input{padding-bottom:25px;}

.mobile-icons{float:left; margin-right:7px;}

@media (max-width: 1253px) {

.col-md-8{width:100%;}

}

@media (max-width: 1031px) {

.col-md-10{float:left; width:100%;}

.col-md-2{background:#22a1e4; margin:0; padding:0; overflow:hidden; position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
	width:100%;
	}

}

@media (max-width: 1005px) {

.box-space-right{padding-right:0;}
	
}

@media (max-width: 690px) {

.col-md-8{clear:both;}
	
.col-md-6{width:100%; float:left;}	
	
}

@media (max-width: 430px) {

.logo{width:60%; height:auto; margin-top:10px;}	
	
}

@media (max-width: 380px) {

.logo{margin-top:15px;}	
	
}